body {
    background-color: white;
}

$crieUmaColecao: (colecao1: blue, colecao2: red, colecao3: green);
@each $item, $colecao in $crieUmaColecao {
    .#{$colecao}-color {color: lighten($colecao, 30);}
}
$aumentarLetras: (pequena: 10, media: 30, grande: 45);
@each $item, $letras in $aumentarLetras {
    .#{$item}-fonte {
        font-size: #{$letras}px
    }
}